@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
}

.main{
    display: flex;
    width: 600px;
    height: 800px;
    border: grey solid 2px;
    margin: 0 400px 0; 
}

.foto_cv{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: #CE9CB3 solid 2px;
}

.columna-izquierda{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: #FFF1F2;
    padding-left: 15px;
    padding-top: 20px;
}

.columna-derecha{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 20px;
}

.presentacion{
    margin-top: 20%;
}

.data{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    margin-top: 50%;
    
}

.img_contacto{
    width: 20px;
    height: 20px;
}

.duracion{
    float: right;
    padding-right: 15px;
}

.hidden {
    display: none !important;
}

#contenido {
    display: flex;
    margin-top: 50%;
}

.boton_info{
    text-decoration: none;
    color: #ab8295;
    font-size: 1.3rem;
}

.boton_info:hover{
    color: #cb6096;
}

.active{
    color: #b7256e;
}